{% extends 'base_backoffice.html.twig' %}

{% block content %}

{% endblock %}

{% block title %}
    <h2>Tous les challenges</h2>

    {% for challenge in challenges %}
        <a href="{{ url("caster_specifique_index",{id:challenge.id}) }}">{{ challenge.title }}</a><br/>
    {% endfor %}

{% endblock %}

