{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
    <div class="container">
        <main class="wrapper">
            <div class="row">
                <div class="col-6 offset-3">
                    <h1>La chaine officielle</h1>
                    <iframe
                            frameborder="0"
                            scrolling="no"
                            allowfullscreen="true"
                            width="100%"
                            height="274px"
                            src="https://player.twitch.tv/?muted=true&channel=pompevie74&parent=bannerlord.hardcore-challenge.com&autoplay=false"></iframe>
                </div>
            </div>

            <div class="row">
                <h2>Les challengers</h2>
                {% for entity in entities %}
                    <div class="col-md-3">

                        <iframe
                                frameborder="0"
                                scrolling="no"
                                allowfullscreen="true"
                                width="100%"
                                src="https://player.twitch.tv/?muted=true&channel={{ entity.TwitchId }}&parent=bannerlord.hardcore-challenge.com&autoplay=false"></iframe>
                    </div>
                {% endfor %}
            </div>
        </main>
    </div>
{% endblock %}
