/**
 * Styles du footer
 * Version 1.0
 * 09/2020
 */

footer {    
    .navbar-nav {
        flex-direction: row;

    }
    .nav-link {
        color: #ffffff;
        font-size: 1.2em;
        font-family: 'Montserrat', sans-serif;
        display: flex;
    }
    .other-links a {
        color: $black;
        font-size: 0.9em;
        margin: 0 5px 10px;
        font-weight: 600;
    }
}