/**
 * Styles du header
 * Version 1.0
 * 09/2020
 */

.navbar.navbar-main {
    padding: 0;
    background-color: $brown;
    .container-nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .nav-link {
        color: #ffffff;
        font-size: 1.2em;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        &:hover {
            font-size: 1.25em;
            font-weight: 600;
        }
    }
    .home-link {
        color: #ffffff;
        font-size: 2em;
        margin: 0 20px;
    }
    .btn-connect {
        background-color: $green;
        color: #ffffff;
        padding: 10px 15px;
    }
    #navbar_global {
        justify-content: center;
    }
} 

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}