/**
 * Style des inputs
 * Version 1.0
 * 10/2020
 */

.form-group {
	position: relative;
    margin-bottom: 45px;
    
    input {
        display: block;
        font-size: 14pt;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 0;
    }

    input::placeholder {
        color: #c3c3c3;
    }
    
    input:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }
    
    label {
        position: absolute;
        top: 10px;
        color: #999;
        font-size: 14pt;
        font-weight: normal;
        pointer-events: none;
        transition: all 0.2s ease;
    }
    
    input:focus ~ label,
    input.active ~ label {
        top: -12px;
        font-size: 10pt;
        color: #5264AE;
    }
    
    .bar {
        display: block;
        position: relative;
    }
    
    .bar:before,
    .bar:after {
        content: "";
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #5264AE;
        transition: all 0.2s ease;
    }
    
    .bar:before {
        left: 50%;
    }
    
    .bar:after {
        right: 50%;
    }
    
    input:focus ~ .bar:before,
    input:focus ~ .bar:after {
        width: 50%;
    }
}
