.border-orange {
  border: 3px solid #FFC107; }

.border-red {
  border: 3px solid #DC3545; }

.border-green {
  border: 3px solid #28a745; }

.bloc-challenge {
  text-transform: uppercase; }
  .bloc-challenge h2 {
    text-align: center;
    font-size: 16px;
    margin: 12px 0 12px 0; }
  .bloc-challenge .hours {
    font-size: 12px;
    padding: 5px;
    font-weight: bold; }
  .bloc-challenge .date {
    font-size: 12px;
    padding-left: 5px;
    font-weight: bold; }
  .bloc-challenge .btn {
    font-size: 12px; }

.challenge-filter {
  font-size: 12px; }
  .challenge-filter a {
    margin-left: 12px; }
