<!--
=========================================================
* Argon Design System - v1.2.0
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-design-system
* Copyright 2020 Creative Tim (http://www.creative-tim.com)

Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<div class="card bg-secondary shadow border-0">
        {% block login_form %}
        {% endblock %}
</div>
<div class="row footer-modal">
    <div class="col-6">
        <a href="#"><small>{{ "Forgot password?"|trans }}</small></a>
    </div>
    <div class="col-6 text-right">
        <a href="#"><small> {{ "Create new account"|trans }}</small></a>
    </div>
</div>