{% extends 'base.html.twig' %}
{% block body %}
    <main class="wrapper">

        <section class="section-parallax parallax-background login_register_img login-register">
            <div class="container">
                <div class="flag-center"><h2>Rejoins-nous !</h2></div>
                <i class="flag flag-right"></i>
                <i class="flag flag-left"></i>
                <div class="card shadow border-0 col-12 px-lg-5 py-lg-5">
                    <div class="row">
                        {% block login_form %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}