<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% include 'Frontend/base_template/navbar.html.twig' %}
        {% block body %}
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <div class="container pt-lg-7">
            {% block container %}{% endblock %}
        </div>
    </section>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    {% include 'Frontend/base_template/footer.html.twig' %}

    </body>
</html>
