{% extends 'base.html.twig' %}
{% block container %}
    <div class="row">
        <div class="col-6">
            <h1>Bonjour !</h1>

        </div>
        <div class="col-6">
            <h2> au revoir ! </h2>
        </div>
    </div>

{% endblock %}