{% extends 'base.html.twig' %}

{% block title %}New Rule{% endblock %}

{% block body %}
    <h1>Create new Rule</h1>

    {{ include('rule/_form.html.twig') }}

    <a href="{{ path('rule_index') }}">back to list</a>
{% endblock %}
